{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <br>
            <h4 class="page-title">Dron</h4>
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <caption>Listado de Drones</caption>
                        <thead>
                        <tr style="color:#5a8612">
                            <th scope="col">ID</th>
                            <th scope="col" font color="red">ID Hub</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for our_dron in our_drons %}
                        <tr>
                            <td>{{ our_dron.id }}</td>
                            <td>{{ our_dron.id_hub }}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/' ">
                            Back
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}